* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header h1 {
  font-size: 30pt;
  margin-top: 50px;
  margin-bottom: 30px;
}
.container  {
  height: 80%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px){
  /* askdjaksjd */
}